[worldserver]

#########################
# NPC Elfa bailarina    #
#########################

Dancer.Enable = 1
Dancer.Announce = 0

#
#    Tips in copper (10000 = 1 gold)

Dancer.Tip1 = 10000
Dancer.Tip2 = 50000
Dancer.Tip3 = 100000
Dancer.Tip4 = 250000
Dancer.Tip5 = 500000
